body{
	font-family:arial
}
#mathematicalStatement{
	font-size: 60px
}
#gamingZone{
	text-align: center;
	width: 80%;
	float: left;
}
#answer{
	font-size: 40px
}
#scorecard{
	width: 20%;
	float: right;
	text-align: center;
}
#subcontent1{

}
#correctness{
	font-size: 25px
}
#marks{
	font-size: 25px
}
#level{
	font-size: 25px
}
#start_btn_div{
	width: 50%;
	float:	left;
	padding-left: 35%;
	padding-top: 7%;
}
#start_btn{
	width: 100px;
	height: 40px;
}